---
---

@import "jekyll-theme-minimal";

@media only screen and (min-width:768px){
  
.wrapper {
  width:1200px;
  // left side is 270
  // 1200-270 = 930
  // 30px free room
  margin:0 auto;
}

section {
  width:900px;
  float:right;
  padding-bottom:50px;
   padding-left: 120px;
}
  
  p.section {
  margin-left: 120px;
}


}
